#close_button{
  float: right;
  z-index: 999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;

}

#modal_messenger_window {
  position: fixed;
  top: 30%;
  left: 35%;
  z-index: 999;
  opacity: 1;
  border: 1px solid;
  overflow: auto;

}

#modal_messenger_window h2{
  padding-left: 2%;
  font-size: 150%;
  font-family: monospace;
  border-bottom: 2px solid;
}